@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }

  body {
    overflow-x: hidden;
    user-select: none;
  }

  header {
    width: 100%;
  }

  nav{
    width: 100%;
    background-color: #1a283a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 60px;
  }

  .nav-links {
    list-style: none;
    display: flex;
  }

  header li {
    padding: 0 2rem;
  }

  .menu-btn {
    display: none;
    font-size: 20px;
  }

  header a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover{
    color: #acb1b8;
  }
  @media screen and (max-width: 992px) {
    .nav-links {
      display: none;
    }
    
    .menu-btn{
      display: block;
    }
  }

  .sidebar {
    width: 50%;
    background-color: #1a283a;
    height: 100%;
    position: absolute;
    top: 60px;
    right: -5px;
    display: none;
    z-index: 100;
  }

  .sidebar.open {
    width: 50%;
    display: block;
  }

  .side-links {
    color: #fff;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: center;
    display: block;
    list-style: none;
  }

  .side-links ul{
    align-items: center;
    justify-content: center;
    float: right;
    list-style: none;
  }

  .side-links li{
    padding-top: 4rem;
  }

  .team-photo {
    width: 100%;
    /*padding: 1rem 9rem;*/
  }

  .hero {
    position: relative;
    text-align: center;
  }

  .txt-hero {
    position: absolute;
    width: 75%;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background-color: rgba(24, 48, 50, 0.4);
    padding: 1rem;
    color: #fff;
    font-family: 'Rubik', sans-serif;
  }

  .schedule-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:15px;
    border-radius: 5px;
    background-color: #1a283a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  @media screen and (max-width: 992px) {
    .txt-hero {
      font-size: 2rem;
    }
    .schedule-btn {
      padding: 12px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 680px) {
    .txt-hero {
      font-size: 1rem;
    }
    .schedule-btn {
      font-size: 12px;
      padding: 10px;
    }
  }

.schedule-btn a{
  color: #fff;
  text-decoration: none;
}

.home-news {
  padding: 100px 0;
}

.max-width {
  color: #1a283a;
  max-width: 1300px;
  padding: 0 45px;
  margin: auto;
}

.max-width h1{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  text-decoration: underline;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card img{
  width: 100%;
  border-radius: 6px;
}

.card {
  padding: 0px 0px;
  width: calc(26% - 20px);
  border-radius: 6px;
  background: #fff;
  text-align: center;
  user-select: none;
  box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.4);
}


.txt {
  padding: 10px 25px;
}

.card:hover .txt {
  transform: scale(1.05);
}

.box h3 {
  font-size: 25px;
  padding: 10px 0 7px;
}

@media screen and (max-width: 890px) {
  .max-width {
    padding: 0 25px;
  }

  .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  .card{
    width: 100%;
  }

  .none {
    display: none;
  }
}
.card a{
  color: #7c838c;
}

.card:hover p{
  text-decoration: underline;
}


.win {
  color: #18b500;
}

.loss {
  color: #e60404;
}

.not-played {
  color: #7c838c;
}

.head-text h1{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  text-decoration: underline;
  padding: 1rem;
}

.games{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  gap: 35px;
    
}

.game-card{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.4);
  width: 47%;
}

.game-card img{
  width: 48%;
}
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 3px;
  width: 100%;
  gap: 16px;
  text-align: center;
}

.teams div{
    width: 30%;
}

@media screen and (max-width: 1100px) {
  .game-card {
    width: 100%;
    margin-top: 20px;
  }
}
.button-schedule{
  width: 100%;
  padding: 20px;
}
.button-schedule button {
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: #1a283a;
  color: #fff;
  font-size: 20px;
  height: 60px;
  align-items: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.button-schedule button i{
  padding: 10px;
}

.pictures-header {
  text-align: center;
  font-size: 30px;
  width: 100%;
  height: 100px;
  padding: 50px;
}

.player-photo-grid {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.player-card {
  width: 24%;
  position: relative;
}
.player-card:hover {
  filter: brightness(70%) grayscale(100%);
}

.player-card img{
  width: 100%;
}

.player-card-text{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 5px solid black;
  width: 100%;
  color: #fff;
  padding: 10px;
}

.player-card-text h3 {
  padding-bottom: 5px;
}

.smaller-text {
  font-family: sans-serif;
  font-weight: 100;
}

.player-card-container{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .player-card {
    width: 22%;
  }
}
@media screen and (max-width: 1100px) {
  .player-card {
    width: 33%;
  }
}
@media screen and (max-width: 750px) {
  .player-card {
    width: 100%;
  }
}

.player-potrait-grid {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.player-potrait-grid img{
  width: 25%;
}

.together-photos {
  width: 25%;
  display: block;
  justify-content: center;
  align-items: center;
}

.together-photos img{
  width: 100%;
  padding: 1rem;
}

.player-potrait-grid img:hover{
  opacity: 70%;
}

nav h1 i {
  padding-right: 10px;
}

.not-ready-page{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  padding-top: 200px;
}

.page-not-ready {
  width: 35%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid #000;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1450px){
  .page-not-ready {
    font-size: 27px;
  }  
}
@media screen and (max-width: 950px){
  .page-not-ready {
    width: 45%;
  }  
}
@media screen and (max-width: 750px){
  .page-not-ready {
    width: 65%;
  }  
}

@media screen and (max-width: 1100px) {
  .player-potrait-grid img {
    width: 33%;
  }

  .together-photos {
    width: 100%;
  }
  .together-photos img{
    width: 49%;
  }
}
@media screen and (max-width: 750px) {
  .player-potrait-grid img {
    width: 100%;
  }

  .pictures-header{
    padding-bottom: 200px;
  }
  .together-photos img{
    padding: 5px;
  }
}

.player-pg-iframe {
  width: 100%;
  height: 100rem;
}

.schedule-page{
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-playing {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0px 10px 5px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 3px 7px 7px 3px rgba(0, 0, 0, 0.4);
}

.game-box {
  width: 100%;
  margin-top: 20px;
}


.status {
  padding: 25px 10px 25px 15px;
}

.team-and-info{
  padding: 5px;
  color: #000;
}

@media screen and (max-width: 900px) {
  .team-playing{
    font-size: 0.75rem;
    padding: 15px 0px 10px 5px;
  }
}
.notification-center{
  padding: 35px;
}

:root{
  --default: #999;
  --success: #51be56;
  --warning: #ffc107;
  --danger: #ff5722;
  --primary: #29B6F6;
}

.alert{
  border: 1px solid var(--default);
  border-left: 5px solid var(--default);
  box-shadow: 0 0 4px #ddd, 0 2px 10px #ddd, 0 2px 20px #ddd;
  
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 15px;
  transition: 0.5s ease-in;
}

.alert.close{
  transform: translateY(40px);
  background: #fff;
  opacity: 0;
}


.alert>.icon{
  min-width: 40px;
  min-height: 40px;
  
  background-color: var(--default);
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.alert>.icon>.fa{
  line-height: 40px;
}


.alert>.text{
  width: 100%;
  padding: 0 15px;
}

.alert>.text strong{
  color: #333;
}
.alert>.text p{
  color: #666;
  margin: 5px 0;
  font-size: 14px;
}


.alert>.close{
  border: none;
  background: transparent;
  font-size: 16px;
  color: #777;
  outline:none;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.alert>.close:hover{
  color: red;
}



/* success alert start */
  .alert-success{
    border: 1px solid var(--success);
    border-left: 5px solid var(--success);
  }
  .alert-success>.icon{
    background-color: var(--success);
  }
/* success alert end */



/* warning alert start */
  .alert-warning{
    border: 1px solid var(--warning);
    border-left: 5px solid var(--warning);
  }
  .alert-warning>.icon{
    background-color: var(--warning);
  }
/* warning alert end */



/* danger alert start */
  .alert-danger{
    border: 1px solid var(--danger);
    border-left: 5px solid var(--danger);
  }
  .alert-danger>.icon{
    background-color: var(--danger);
  }
/* danger alert end */



/* primary alert start */
  .alert-primary{
    border: 1px solid var(--primary);
    border-left: 5px solid var(--primary);
  }
  .alert-primary>.icon{
    background-color: var(--primary);
  }
/* primary alert end */

.no-games{
  width: 100%;
  min-height: 25rem;
  position: relative;
}

.no-games div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-games i{
  background-color: var(--primary);
  border-radius: 50%;
  line-height: 60px;
  min-height: 60px;
  min-width: 60px;
  font-size: 25px;
  margin-bottom: 10px;
}

.footer-team-photo{
    width: 100%;
    margin-top: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px
}

.footer-team-photo{
    width: 100%;
    position: relative;
}

.canceled {
  text-decoration: line-through;
  color: var(--danger);
}

.color-red{
  color: var(--danger);
}

.tourneys{
  width: 100%;
  padding: 15px;
}

.tourney {
  width: 100%;
  border: none;
  box-shadow: 0 0 4px #ddd, 0 2px 10px #ddd, 0 2px 20px #ddd;
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px;
}

.split{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
  line-height: 35px;
}

.side1{
  font-size: 1.5rem;
}

.side2 img{
  padding-right: 20px;
}
.text-wrapper{
  display: flex;
  justify-content: flex-start;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(172,0,0,1) 100%);
  color: white;
}

.no-link{
  color: #000;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
}

.tab button:hover {
  background-color: #23354d;
  color: white;
}

.tab button.active {
  background-color: #1a283a;
  color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tourney-header-text{
  text-align: center;
  font-size: 1.5rem;
  line-height: 45px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .side1{
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .side2 img{
    display: none;
  }
}


.team-playing.next{
  border: 3px solid #29B6F6;
}

.next{
  color: #29B6F6;
}

.intro{
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1a283a;
  transition: 1s;
}

.logo-header{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.splash-logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.splash-logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.splash-logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.intro img{
  width: 1000px;
}

@media screen and (max-width: 1200px) {
  .intro img{
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .intro img{
    width: 500px;
  }
}

@media screen and (max-width: 700px) {
  .intro img{
    width: 300px;
  }
}

.location-key-map-iframe{
  width: 100%;
  height: 85%;
  padding-top: 100px 20px 20px 20px;
}

.team-and-info h4 a{
    color: #000;
    text-decoration: underline;
}


.iframe-padding{
  width: 100%;
  padding: 70px 20px 20px 20px;
}

@media screen and (max-width: 1000px) {
  .font-shrink{
    font-size: 23px;
  }
}

@media screen and (max-width: 750px) {
  .iframe-padding{
    padding: 20px 20px 20px 20px;
  }
}
.tournament-holder{
  width: 100%;
}

.tournament-body{
  box-shadow: 0 0 4px #ddd, 0 2px 10px #ddd, 0 2px 20px #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tournament-header-area{
  background-color: #333366;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.tournament-photo{
  border-radius: 100%;
  box-shadow: 0 0 4px #ddd, 0 2px 10px #ddd, 0 2px 20px #ddd;
  padding: 10px;
  background-color: white;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 14%;
}
.tournament-header{
    font-size: 30px;
}
.general-info{
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}
.general-text{
  padding: 3px
}
@media screen and (max-width: 950px){
  .tournament-header{
    font-size: 30px;
  }
}
@media screen and (max-width: 870px){
  .tournament-header{
    font-size: 25px;
  }
}
@media screen and (max-width: 750px){
  .tournament-photo{
    width: 10%;
  }
  .tournament-header{
    font-size: 20px;
  }
}
@media screen and (max-width: 610px){
  .tournament-photo{
    display: none;
    padding: 2px;
  }
  .tournament-header{
    font-size: 23px;
  }
}

